/* Start coding here */
.container-lightgrey {
    background-color: lightgrey;
    height: 100%;
    padding: 16px;
}

.container-black {
    background-color: black;
    height: 100%;
    padding: 16px;
}
.container-crimson {
    background-color: crimson;
    height: 100%;
    padding: 24px;
}

.container-khaki {
    background-color: khaki;
    height: 100%;
    padding: 30px;
}

.TechUp {
    height: 50vh;
    text-align: center;
    font-size: 72px;
}