/* Start coding here */
.title-text {
    background-color: darkcyan;
    padding: 20px;
}

.box-1, .box-2 {
    width: 50vw;
    margin: 20px;
    padding: 14px;
    border: 2px solid darkblue;
    background-color: cornflowerblue;
}

.box-blank {
    width: 80%;
    height: 20vh;
    background-color: gray;
}